<div class="row">

  <div class="col-xs-12 col-md-2 col-md-push-5">
    <img id="burger-img" src="./assets/img/burger.png" class="img-responsive">
  </div>


	<div class="col-xs-6 col-md-5 col-md-pull-2">
		<ul class="list-group">
		{{#each notEaten}}
			<li class="list-group-item"><p>
				{{this.id}}. {{this.burger_name}} 
					<button data-id={{this.id}} class="del-btn btn btn-warning">Devour</button>
			</p></li>
		{{/each}}
		</ul>
	</div>


	<div class="col-xs-6 col-md-5">
		<ul class="list-group">
		{{#each eaten}}
			<li class="list-group-item list-group-item-warning"><p>
        {{this.id}}. {{this.burger_name}}
      </p></li>
		{{/each}}
		</ul>
	</div>
</div>


